/* Contenedor general que actúa como la tabla */
.tabla5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cuatro columnas, igual ancho */
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
  margin: 20px 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Contenedor general que actúa como la tabla */
.tabla4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas, igual ancho */
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
  margin: 20px 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Fila de la tabla */
.row {
  display: contents; /* Utiliza la propiedad contents para el control de filas */
}

/* Celda de la tabla */
.column {
  padding: 15px;
  border: 1px solid #666;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  background-color: #f4f4f4; /* Fondo suave para las celdas */
}


/* Añadir efectos visuales al pasar el ratón sobre las celdas */
.column:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Estilo de los bordes */
 .column {
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Contenedor general que actúa como la tabla */
.tabla2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cuatro columnas, igual ancho */
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
  margin: 20px 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Contenedor general que actúa como la tabla */
.tabla3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cuatro columnas, igual ancho */
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
  margin: 20px 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Contenedor general que actúa como la tabla */
.tabla1 {
  display: grid;
  grid-template-columns: 1fr; /* Cuatro columnas, igual ancho */
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
  margin: 20px 0;
  font-family: sans-serif;
  box-sizing: border-box;
}