body {
    display: grid;
    grid-template-rows: 15vh 80vh;
    grid-template-columns: 70vw;
    width: 95vw;
    height: auto;
    gap: 10px;
}


header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    background-color: rgb(20, 102, 20);
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 3px;
}

main {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    border: 2px solid black;
    width: auto;
    justify-content: center;

}

aside {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border: 2px solid black;


}

#listaProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    outline: 2px solid rgb(26, 136, 68);
    background-color: rgb(229, 234, 237);
    padding: 20px;
    margin: 0 auto;
}

#fila {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 5vh;
    align-items: center;
    justify-content: space-around;

}

#fila div {
    width: 100%;
    height: 100%;
    text-align: center;
}

#editar {
    background-color: rgb(148, 99, 26);
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    height: auto;
    width: auto;
}

#eliminar {
    background-color: rgb(148, 48, 26);
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    height: auto;
    width: auto;
}



#crear {
    background-color: rgb(52, 148, 26);
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    height: 50px;
    width: 100px;
}

#formularioCreacion {
    outline: 2px solid rgb(26, 136, 68);
    background-color: rgb(229, 234, 237);
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

}