body {
    display: grid;
    grid-template-rows: 15vh 80vh;
    grid-template-columns: 70vw;
    width: 95vw;
    height: auto;

}


header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    background-color: rgb(20, 102, 20);
    color: white;
    text-align: center;
    align-items: center;
    margin: 20px;
    border-radius: 3px;
}

main {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    border: 2px solid black;
    margin-left: 1%;
    margin-right: 1%;
}

aside {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border: 2px solid black;

}